/* CSS Responsive Document */

@media screen and (max-width: 360px) {
/* ====================== Restaurant Listing ====================== */
  #restaurants-list li {
    width: 210px;
  }
}

@media screen and (max-width: 450px) {
/* ====================== Restaurant Listing ====================== */
  .filter-options {
    height: 110px;
  }
}

@media screen and (max-width: 600px) {
/* ====================== Restaurant Details ====================== */
  #breadcrumb {
    width: calc(100% - 80px);
  }
  .inside #map-container {
    width: 100%;
    top: 131px;
    height: 300px;
    position: relative;
    z-index: 1;
  }
  #restaurant-container,
  #reviews-container,
  .inside #footer {
    width: 100%;
  }
}
